/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .vercel {
    min-height: 100vh;
    background: var(--default-background-color);
    color: #000;
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;

    background-image: radial-gradient(#ddd 1px, transparent 1px),
      radial-gradient(#ddd 1px, transparent 1px);
    background-position:
      0 0,
      25px 25px;
    background-attachment: fixed;
    background-size: 50px 50px;

    /* Hack */
    overflow-x: hidden;
  }
}

:root {
  --main-color: #1e90ff;
  --default-background-color: #fff;
}

body {
  margin: 0;
  /* font-family: "Roboto"; 폰트적용 */
  font-family: "Roboto", "Noto Sans KR", dotum, "돋움", sans-serif;
}
a {
  text-decoration: none; /* 밑줄 기능 없앰 */
  color: #000;
  font-family: "Roboto", "Noto Sans KR", dotum, "돋움", sans-serif;
}
main {
  margin: 10px auto 10px auto;
  width: 70%;
  /* max-width: 1200px; */
  min-height: 600px;
}
@media screen and (max-width: 700px) {
  main {
    /* width: 100px; */
    width: 80%;
    margin: 10px auto 10px auto;
  }
}
/* ----- button ----- */
button {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  cursor: pointer;
  outline: 0;
  width: 100%;
  height: 70px;
  border-radius: 8px;
  background: var(--main-color);
  color: #fff;
  padding: 10px 20px;
  margin: 2px 2px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  font-style: bold;
  font-family: "Roboto", "Noto Sans KR", dotum, "돋움", sans-serif;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 15px;
  font-weight: 500;
  -webkit-transition: background-color 0.05s ease-in-out;
  -moz-transition: background-color 0.05s ease-in-out;
  -o-transition: background-color 0.05s ease-in-out;
  transition: background-color 0.05s ease-in-out;
  vertical-align: middle;
}
/* ----- button ----- */
/* ----- input ----- */
input,
textarea {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  letter-spacing: 0;
  -webkit-letter-spacing: 0;
}
input[type="password"] {
  font-family: Arial, Helvetica, sans-serif;
}
input:focus {
  outline: none;
  padding: 0;
  border: 0;
}
input {
  outline: none;
  padding: 0;
  border: 0;
  width: 100%;
}
input[type="text"],
input[type="number"] {
  font-size: 16px;
  color: #444444;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 16px 15px;
  letter-spacing: -0.02em;
  margin: 0 2px;
  font-family: "Roboto", "Noto Sans KR", dotum, "돋움", sans-serif;
  box-sizing: border-box;
  /* background-color: #1e90ff; */
  line-height: 15px;
  min-width: 10px;
  vertical-align: middle;
}
input[type="text"]:focus {
  border: 1px solid #e4d1ff;
  background: #fff;
}

input[type="text"]:read-only {
  border: none;
  background: #f8f8f8;
}

/* input[type="password"] {
  font-size: 16px;
  color: #444444;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 16px 20px;
  letter-spacing: 0.1em;
  margin: 0 2px;
  font-family: "Roboto", "Noto Sans KR", dotum, "돋움", sans-serif;
  box-sizing: border-box;
  background-color: #1e90ff;
  line-height: 15px;
  min-width: 60px;
}
input[type="password"]:focus {
  border: 1px solid #72bdff;
  background: #fff;
} */
input::placeholder {
  color: #888888;
}
textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  /* background-color: #1e90ff; */
  font-family: "Roboto", "Noto Sans KR", dotum, "돋움", sans-serif;
  line-height: 19px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 2px;
  resize: none;
}
textarea::placeholder {
  color: #888888;
}
.comm_input_default {
  display: inline-block;
  width: 100%;
}
/* ----- input ----- */

/*------------------- HEADER LAYOUT -------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: * * var(--accent-color) * *;
  padding: 8px 24px;
}
.navbar_full {
  margin: 0px auto 0px auto;
  width: 70%;
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: * * var(--accent-color) * *;
  /* padding: 8px 24px; */
}
.navbar__logo {
  font-size: 24px;
  /* color: white; */
}

.navbar__icons {
  list-style: none;
  /* color: white; */
  display: flex;
  padding-left: 0;
}
.navbar__icons li {
  padding: 8px 12px;
}

.acctBtn {
  background: none;
  color: #000;
}
.acctBtn:hover {
  color: var(--main-color);
}

// hamburger 왜 두번 선언해야 CSS 먹는지 모르겠음
.hamburger {
}
.hamburger {
  display: none;
  width: 35px;
  height: 30px;
  position: relative;
  right: 16px; /* 우측에서 32px떨어진 곳에 위치 */
  font-size: 24px; /* 명칭과 달리 아이콘의 이미지가 크게 하기 위한 조절 */
  color: rgb(19, 61, 56);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.menuBtn {
  max-height: 50px;
  padding: 10px 20px;
  background: none;
  color: #000;
}
.menuBtnSelected {
  color: var(--main-color);
}
/* .menuBtn:hover {
  color: var(--main-color);
} */

.headerLine {
  display: none;
}

@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column; /* 각 영역을 column방향으로 함 */
    align-items: flex-start; /* 각 영역을 좌(스타트)측 배열시킴 */
    padding: 8px 24px; /* 각 영역별 여유 */
  }
  .navbar__menu {
    display: none;
    flex-direction: column; /* #2 */
    align-items: center; /* 메뉴 영역을 중앙정렬 배열 */
    width: 100%; /* 이거 안 주면 메뉴 영역 자체가 작아서, 즉 전체 창 너비를 안 가져서 #2의 align-items :center를 작성한 의미가 없어보임 ( 좌측 배열처럼 보임)
얘를 함으로써 메뉴 영역만 중앙 배열이 됨 (나는 최상단 LOGO는 좌측 배열 시키고 싶거든. ) */
  }
  .navbar__menu li {
    width: 100%; /* 마우스 상호작용(색변경)범위를 늘림
얘를 안 하면 문자 길이만큼만 상호작용을 했음. */
    text-align: center; /* 리스트 각 아이들을 중앙 정렬 */
  }
  .navbar__menu li:hover {
    background-color: * * var(--background-color) * *;
    border-radius: 4px;
  }
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute; /* 절대적 위치 설정, 상단으로 올라감 */
    right: 10px; /* 우측에서 32px떨어진 곳에 위치 */
    font-size: 24px; /* 명칭과 달리 아이콘의 이미지가 크게 하기 위한 조절 */
    color: rgb(19, 61, 56);
  }
  .hamburger:hover {
    /* display: block; */

    /* navbar__menu,
    navbar__icons {
      display: flex;
    } */
  }
  .navbar__menu a {
    font-size: 25px;
    font-style: bold;
  }
  .headerLine {
    display: block;
  }
}
@media screen and (min-width: 700px) {
  .webHidden {
    display: none;
  }
  .webFlex {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
  }
  .webNavBttn {
    width: 160px;
    min-width: 70px;
  }
  .webFilterBtn {
    max-width: 300px;
    width: 90%;
  }
}
/*------------------- HEADER LAYOUT -------------------*/

/*------------------- FOOTER LAYOUT -------------------*/
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
/*------------------- FOOTER LAYOUT -------------------*/

/*------------------- SELECT BOX LAYOUT -------------------*/
.select_box {
  position: absolute;
  display: inline-block;
  width: 90%;
  /* padding: 10px 0px; */
  /* margin: auto; */
}
.select_box_small {
  position: relative;
  display: inline-block;
  /* min-width: 81px; */
  width: 150px;
  height: 40px;
}
.select_txt {
  position: absolute;
  display: block;
  padding: 16px 15px;
  width: 90%;
  /* width: 350px; */
  white-space: nowrap; /* 줄바꿈 금지하고 */
  text-overflow: ellipsis; /* 말줄임표 사용 */
  overflow: hidden;
  height: 50px;
  color: #666;
  font-weight: 700;
  text-align: left;
  background-color: #efefef;
  border-radius: 5px;
}
.select_txt_small {
  position: relative;
  display: block;
  padding: 10px 15px 10px 15px;
  max-width: 100px;
  height: 35px;
  color: #00c1a6;
  font-weight: 700;
  text-align: left;
  font-size: 15px;
  background-color: #efefef;
  border-radius: 20px;
}
.select_txt:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: url(../public/images/ico_dropdown_down.png) no-repeat 50% 50% /
    12px;
}
.select_txt_small:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: url(../public/images/ico_dropdown_down.png) no-repeat 50% 50% /
    12px;
}
.select_lst {
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -0%);
  /* min-width: 100%; */
  width: 170px;
  max-height: 200px;
  overflow-y: auto;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #efefef;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 9;
}
.select_lst::-webkit-scrollbar {
  width: 16px;
}
.select_lst::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
  background-clip: padding-box;
  border: 6px solid #fff;
}
.select_lst::-webkit-scrollbar-track {
  background-color: #fff;
}
.select_lst li {
  display: block;
  padding: 10px 20px;
}
.select_lst .selectbutton {
  /* padding: 10px 10px 10px 10px; */
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}
.select_lst .selectbutton:hover {
  color: var(--main-color);
}
.select_box.open .select_txt:after {
  background-image: url(../public/images/ico_dropdown_up.png);
}
.select_box.open .select_lst {
  visibility: visible;
}

.select_box_small.open .select_txt:after {
  background-image: url(../public/images/ico_dropdown_up.png);
}
.select_box_small.open .select_lst {
  visibility: visible;
}

.select_box.open .select_txt_small:after {
  background-image: url(../public/images/ico_dropdown_up.png);
}
.select_box_small.open .select_txt_small:after {
  background-image: url(../public/images/ico_dropdown_up.png);
}
@media screen and (min-width: 700px) {
  .select_box {
    max-width: 320px;
    width: 15%;
    margin-right: 20px;
  }
  .select_txt {
    /* width: 90%; */
    max-width: 300px;
  }
}
/*------------------- SELECT BOX LAYOUT -------------------*/
/* ----- Space | Empty | Area | Padding ----- */
.space10 {
  width: 100%;
  height: 10px;
}
.space20 {
  width: 100%;
  height: 20px;
}
.space30 {
  width: 100%;
  height: 30px;
}
.space40 {
  width: 100%;
  height: 40px;
}
.space60 {
  width: 100%;
  height: 60px;
}
.space100 {
  width: 100%;
  height: 100px;
}

.padding5 {
  padding: 5px;
}
.padding10 {
  padding: 10px;
}
.padding20 {
  padding: 20px;
}
.padding30 {
  padding: 30px;
}
.padding40 {
  padding: 40px;
}
.padding50 {
  padding: 50px;
}
.padding60 {
  padding: 60px;
}
.padding70 {
  padding: 70px;
}
.padding80 {
  padding: 80px;
}
.padding90 {
  padding: 90px;
}
.padding100 {
  padding: 100px;
}

.marginTop30 {
  margin-top: 30px;
}
/* ----- Space | Empty | Area | Padding ----- */

/*------------------- RESULT TAB LAYOUT -------------------*/
.ec-base-tab {
  position: relative;
}
.menu {
  width: 80%;
  cursor: pointer;
  border: 2px solid var(--main-color);
  border-left: 0;
  border-bottom-color: var(--main-color);
  border-top-color: var(--default-background-color);
  border-right-color: var(--default-background-color);
  border-left: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  display: block;
  margin: 0 0 0 -1px;
  padding: 12px 5px 11px;
  text-decoration: none;
  outline: 0;
  text-align: center;

  white-space: nowrap; /* 줄바꿈 금지하고 */
  text-overflow: ellipsis; /* 말줄임표 사용 */
  overflow: hidden;
}
.selected {
  position: relative;
  /* left: -2px; */
  margin: 0 0 -1px;
  border: 2px solid var(--main-color);
  border-bottom: 0;
  color: var(--main-color);
}
/* typeLight */
.typeLight {
  /* margin: 0 0 -2px; */
  border-bottom: 1px solid var(--default-background-color);
  color: #404040;
  background: #fff;
}
/*------------------- RESULT TAB LAYOUT -------------------*/

@media screen and (max-width: 700px) {
  .mobileHidden {
    display: none;
  }
  .mapWidth {
    width: 100%;
  }
}
@media screen and (min-width: 699px) {
  .mapWidth {
    width: 50%;
  }
  .webOverflow {
    height: 600px;
    overflow-y: auto;
  }
  .webMarginR {
    margin-right: 16px;
  }
  .webMarginL {
    margin-left: 16px;
  }
}
