/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .vercel {
    min-height: 100vh;
    background: #fff;
    color: #000;
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;

    background-image: radial-gradient(#ddd 1px, transparent 1px),
      radial-gradient(#ddd 1px, transparent 1px);
    background-position:
      0 0,
      25px 25px;
    background-attachment: fixed;
    background-size: 50px 50px;

    /* Hack */
    overflow-x: hidden;
  }
}

:root {
  --main-color: #1e90ff;
}

body {
  margin: 0;
  font-family: "Roboto"; /* 폰트적용 */
}
a {
  text-decoration: none; /* 밑줄 기능 없앰 */
  color: #000;
  font-family: "Roboto", "Noto Sans KR", dotum, "돋움", sans-serif;
}
/*------------------- HEADER LAYOUT -------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: * * var(--accent-color) * *;
  padding: 8px 12px;
}
.navbar__logo {
  font-size: 24px;
  /* color: white; */
}

.navbar__logo i {
  color: #9dbbbb;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu a {
  font-size: 20px;
  font-style: bold;
}
.navbar__menu a:hover {
  /* background-color: rgb(19, 61, 56);
  border-radius: 4px; */
  color: var(--main-color);
}
.navbar__icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
}

// hamburger
.navbar__toogleBtn {
  display: none;
  width: 35px;
  height: 30px;
  position: relative;
  right: 16px; /* 우측에서 32px떨어진 곳에 위치 */
  font-size: 24px; /* 명칭과 달리 아이콘의 이미지가 크게 하기 위한 조절 */
  color: rgb(19, 61, 56);
}
.hamburger {
  display: none;
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column; /* 각 영역을 column방향으로 함 */
    align-items: flex-start; /* 각 영역을 좌(스타트)측 배열시킴 */
    padding: 8px 24px; /* 각 영역별 여유 */
  }
  .navbar__menu {
    display: none;
    flex-direction: column; /* #2 */
    align-items: center; /* 메뉴 영역을 중앙정렬 배열 */
    width: 100%; /* 이거 안 주면 메뉴 영역 자체가 작아서, 즉 전체 창 너비를 안 가져서 #2의 align-items :center를 작성한 의미가 없어보임 ( 좌측 배열처럼 보임)
얘를 함으로써 메뉴 영역만 중앙 배열이 됨 (나는 최상단 LOGO는 좌측 배열 시키고 싶거든. ) */
  }
  .navbar__menu li {
    width: 100%; /* 마우스 상호작용(색변경)범위를 늘림
얘를 안 하면 문자 길이만큼만 상호작용을 했음. */
    text-align: center; /* 리스트 각 아이들을 중앙 정렬 */
  }
  .navbar__menu li:hover {
    background-color: * * var(--background-color) * *;
    border-radius: 4px;
  }
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
    display: flex;
  }
  .navbar__toogleBtn {
    display: block;
    cursor: pointer;
    position: absolute; /* 절대적 위치 설정, 상단으로 올라감 */
    right: 10px; /* 우측에서 32px떨어진 곳에 위치 */
    font-size: 24px; /* 명칭과 달리 아이콘의 이미지가 크게 하기 위한 조절 */
    color: rgb(19, 61, 56);
  }
  /* .hamburger {
    display: block;
  } */
  .navbar__toogleBtn:hover {
    /* display: block; */

    /* navbar__menu,
    navbar__icons {
      display: flex;
    } */
  }
  .navbar__menu a {
    font-size: 25px;
    font-style: bold;
  }
}
/*------------------- HEADER LAYOUT -------------------*/

/*------------------- FOOTER LAYOUT -------------------*/
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
/*------------------- FOOTER LAYOUT -------------------*/
